<p id="notice"><%= notice %></p>

<p>
  <b>Route:</b>
  <%= @schedule.route_id %>
</p>

<p>
  <b>Start:</b>
  <%= @schedule.start %>
</p>

<p>
  <b>Stop:</b>
  <%= @schedule.stop %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
